.dashboard .navbar {
  background-color: black;
  color: white;
  height: 7vh;
}
.dashboard .navbar {
  background-color: #1E1E1E ;
}


.dashboard .brand {
  color: white;
  margin-left: 10px;
}

.dashboard .hash-links {
  display: flex;
  justify-content: center;
  width: 80vw;
  max-width: 1000px;
}



.dashboard .navbar .logo {
  width: 60px;
  color: white;
  margin: 0;
  padding: 0;
}

.dashboard .navbar .login {
  margin-left: 8px;
}