.dashboard .navbar {
  background-color: black;
  color: white;
  height: 7vh;
}
.dashboard .navbar {
  background-color: #1E1E1E ;
}


.dashboard .brand {
  color: white;
  margin-left: 10px;
}

.dashboard .hash-links {
  display: flex;
  justify-content: center;
  width: 80vw;
  max-width: 80vw;
}

.dashboard .hash-links a+ a {
  margin-left: 5vw;
}



.dashboard .navbar .logo {
  width: 60px;
  color: white;
  margin: 0;
  padding: 0;
}

.dashboard .navbar .login {
  margin-left: 8px;
}

.dashboard .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 200px;
}

.login-body input{
  outline: none;
  border-style: double;
  height: 32px;
  border-radius: 8px;
  
}

.login-body .login-buttons {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}